
 <div class="row">
    <div class="col-12 mt-3">
        <h1 class="display-3">Welcome {{username}}, how can I help you today?</h1>
        <p>By the way, I know your email is {{email}}</p>
    </div>
</div>
